<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- <script defer ></script> -->
    <title>Movie Info: Result </title>

</head>
<body>
    <header>
        <form action="/request" method="GET">
            <div class="search">
                <label for="name">Movie Name</label><br />
                <input type="text" id="name" name="name" required />
            </div>
            <br />
            <div class="search">
                <label for="year">Year</label><br />
                <input type="number" id="year" name="year" min="1900" max="2050" step="1" />
            </div>
            <br />
            <div class="search">
                <button type="submit">Submit</button>
            </div>
        </form>
    </header>
    <div class="info">
        <img src="" id="poster" width="100">
        <h3 id="movieName"></h3>
        <p id="plot"></p>
    </div>
    <script>
        document.getElementById("name").value = "<%= name %>"
        document.getElementById("year").value = "<%= year %>"
        document.getElementById("poster").src = "<%= data.Poster%>"
        document.getElementById("movieName").textContent = "<%= data.Title%> (<%= data.Year%>)"
        document.getElementById("plot").textContent = "<%= data.Plot%>"
    </script>
    <!-- <textarea name="input"></textarea> -->
</body>
</html>